body {
	font-family: 'Muli', sans-serif !important;
	font-size: 16px !important;
	color: #1B2125 !important;
}

.strong {
	font-weight: bold;
}

a {
	color: #0077E2;
}

a:hover {
	color: #004F96;
	text-decoration: underline;
}

.textoClaro {
	color: #788995;
}
/* ENCABEZADO */
.utilerias .enlaces a {
	color: #788995;
	padding: 5px;
	font-size: 12px;
}

.utilerias .enlaces li:first-child {
	padding-left: 10px;
}

.utilerias .enlaces li:first-child a::before {
	content: "";
	padding-right: 0;
}

.utilerias .enlaces a::before {
	content: "|";
	padding-right: 8px;
}

.utilerias .enlaces a:hover {
	background: transparent;
	text-decoration: underline;
}

.utilerias .opciones a {
	color: #0077E2;
	font-size: 14px;
	font-weight: 200;
	padding: 5px 20px;
}

.utilerias .opciones span {
	vertical-align: top;
}

.utilerias .opciones a:hover {
	color: #004F96;
	text-decoration: underline;
	cursor: pointer;
}

/*
	3. Carrito de compra */
.utilerias .opciones .opt-carrito {
	/*font-family: Muli-SemiBold;*/
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 14px;
	color: #FFFFFF;
	height: 36px;
	background: #0077E2;
	padding: 0 30px;
	vertical-align: middle !important;
}
/* Icono: 
font-family: material;
font-size: 24px;
color: #FFFFFF; */

.utilerias .opciones .resaltado:hover a {
	text-decoration: none !important;
}

.utilerias .opciones .resaltado a {
	color: #FFFFFF;
}

.popupCarrito {
	min-width: 300px;
	padding: 0;
}

/* Inicio Estilos del popup del carrito */
.carritoTitulo {
	font-size: 1.1rem;
	font-weight: bold;
}

.popupCarrito .carritoDetalle {
	padding: 15px;
}


.popupCarrito .carritoDetalle .productoCarrito {
	padding: 15px 0;
	position: relative;
}

.productoCarrito {
	margin: 15px 0;
}

.productoCarrito .titulo {
	margin-bottom: 0;
}

.popupCarrito .carritoDetalle .entrega {
	font-size: .9rem;
}

.popupCarrito .carritoDetalle .enlace {
	color: blue !important;
	font-size: .9rem;
	padding: 0;
}

.popupCarrito .carritoDetalle .icon-remove {
	color: #CCC;
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 1.4rem;
}

.popupCarrito .subtotalCarrito {
	background: #F0F2F5;
	border-top: 1px solid #DBDBED;;
	padding: 15px;
}

.popupCarrito .subtotalCarrito .precio {
	font-size: 1.5rem;
	font-weight: bold;
}

.popupCarrito .subtotalCarrito .btn-carrito:hover {
	background: #286090;
	text-decoration: none;
}
/* Fin Estilos del popup del carrito */

.butonMenu {
	display: none;
}

.barraBusquedaContenedor {
	border-bottom: 1px solid #E1EEF5;
	padding: 15px 0;
	margin-bottom: 10px;
}

.busqueda {
	margin-top: 10px;
}

.busquedaInput {
	border: solid 1px #0077E2;
	height: 48px;
	padding: 0 10px;
}

.iconoBusqueda {
	background-color: #0077E2;
	border: solid 1px #0077E2;
	height: 41px;
	padding: 7px 35px;
}

.iconoBusqueda:hover {
	background-color: #004F96;
}

.opcionBusqueda {
	color: #1B2125;;
	font-size: 12px;
	margin-top: 15px;
	position: relative;
}

.opcionBusqueda i {
	color: #0077E2;;
	position: absolute;
}

.opcionBusqueda img {
	position: absolute;
	left: 5px;
	top: 25px;
}

.opcionBusqueda p {
	padding-left: 30px;
	margin-bottom: 0;
}

.opcionBusqueda .enlace {
	padding-left: 30px;
}

.menuEnlaces {
	list-style: none;
	padding-left: 0;
}

.menuEnlaces li {
	display: inline-block;
	padding: 5px 15px;
}

.menuEnlaces a {
	color: #333;
}

.menuEnlaces a:hover {
	color: #0077E2;
}

.breadcrumb {
	background-color: transparent;
	font-size: 14px;
	padding: 15px 8px 5px 0;
}

/* Estilos menú responsivo */
.navbar-toggle {
	display: none;
	float: none;
}

.navbar-toggle .icon-bar {
	background: #0077E2;
}

/* SLIDER */
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.contendorTextoSlider {
	padding: 25px 0;
}

.contendorTextoSlider .btn span {
	display: inline-block;
	padding-top: 3px;
	vertical-align: top;
}

.textoSlider {
	margin-bottom: 15px;
	margin-bottom: 0;
}

.notaSlider {
	margin-top: 15px;
	font-size: 12px;
}

/* Elementos generales */
.contenedorLateral {
	background: #E8EDFF;
	margin-left: 15px;
	padding: 25px;
}

.contenedorLateral.subtotales {
	background: #F6F6F6;
	padding: 50px 0;
	text-align: left;
}


.contenedorLateral.subtotales .subtitulo {
	font-size: 14px;
	/*margin-bottom: 0;*/
}

.contenedorLateral.subtotales .subtitulo.descuentos {
	color: #23527c;
}

.contenedorLateral.subtotales .monto {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: right;
}

.contenedorLateral.subtotales .monto.total {
	font-size: 22px;
}

.contenedorLateral .paquete{
	margin-top: 25px;
}

/* Clase usada en la pantalla de login, para cada una de las columnas */
.bloque {
	margin: 25px;
	padding: 30px 0px;
}

.tituloSeccion {
	color: #1B2125;
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 5px;
}

.subtituloSeccion {
	color: #1B2125;
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 5px;
}

.tituloBloque {
	color: #1B2125;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 5px;
}

.contenedorLateral .subtituloSeccion {
	margin-bottom: 5px;
}

	/* Bloques de  información */
#listo .direccion {
	position: relative;
	padding-left: 25px;
	margin-bottom: 25px;
}
#listo .direccion .icon-home {
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
}
#listo .direccion p {
	margin-bottom: 0;
}

#listo .paquete {
	margin-bottom: 25px;
}

#listo .paquete p {
	margin-bottom: 0;
}

#listo .btn-confirmar {
	margin-top: 50px;
}

	/* Formularios */
.formulario label {
	color: #9C9C9E;
}

.formulario .form-group {
	position: relative;
}

.formulario .form-control {
	padding: 20px 12px;
}

.formulario .enlace {
	font-weight: 700;
	line-height: 60px;
}

.formulario .enlace .glyphicon {
	font-size: 1rem;
	font-weight: normal;
}

.formulario .checkbox.resaltado {
	background: #F6F6F6;
	border: 1px solid #CCC;
	padding: 10px 15px;
}

.formulario .checkbox.resaltado i {
	color: #968E8E;
	position: absolute;
	left: 5px;
}

.formulario .checkbox.resaltado .titulo {
	color: #333;
	display: block;
	font-weight: bold;
	
}

.formulario input[type="checkbox"] {
	margin-top: 1px;
}

.formulario .checkboxRigth input[type="checkbox"] {
	transform: scale(1.5);
	right: 15px;
	top: 20px;
}

.formulario #mostrarPass {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 37px;
}

.formulario .help-block {
	font-size: .9rem;
}

	/* Tabs */
.nav-tabs > li > a {
	color: #CCC;
	font-weight: bold;
	padding: 20px 60px;
}

.nav-tabs li a:hover {
	background: transparent;
	border: none;
	border-bottom: 1px solid blue;
	color: #555;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
	border: none;
	border-bottom: 1px solid blue;
}

.icono20 {
	height: 20px;
	font-size: 20px;
}

.iconoBlanco {
	color: #FFF;
}
/* SECCIONES */
	/* Marcas */
.marcas {
	padding: 0px 0px;
}

.marcasTitulo {
	top: 10px;
	position: absolute;
}

.marcas img {
	margin: 0 auto;
	max-height: 80px;
}

.marcas .fila {
	margin-bottom: 30px;
}

	/* Productos recientes */
.carouselContenido .info {
	color: #788995;
	display: inline-block;
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.carouselContenido .titulo {
	color: #1B2125;
	display: -webkit-box;
	font-size: 18px;
	font-weight: 700;	
	margin: 0 auto;
	height: 40px;
	overflow: hidden;
	position:relative;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.carouselContenido .btn {
	position: relative;
	border: none;
}

.carouselContenido .cantidad input {
	width: 50px;
}

.carouselContenido .cantidad .btn {
	color: #FFF;
	width: 100%;
}

.carouselContenido .agregar {
	color: #788995;
	display: block;
	text-align: right;
	margin: 15px 0;
}

.carouselContenido .agregar span {
	vertical-align: top;
}
.carouselContenido .disponible {
	font-size: 12px;
	padding-left: 25px;
	position: relative;
}

.carouselContenido .disponible .iconoEnlace {
	color: 
	font-size: 20px;
	left: 0;
	position: absolute;

}

/* Controles del carrusel  */
.carousel-control .flechaIzquierda {
	color: #0077E2;
	display: inline-block;
	font-size: 50px;
	position: absolute;
	top: 45%;
	z-index: 5;
	left: 0;
}

.carousel-control .flechaDerecha {
	color: #0077E2;
	display: inline-block;
	font-size: 50px;
	position: absolute;
	top: 45%;
	z-index: 5;
	right: 0;
}

.owl-nav .material-icons {
	background: #0077E2;
	color: #FFF;
	font-size: 40px;
	padding: 10px 0 10px 10px;
}
/*
background: #0077E2;
color: #FFF;
font-size: 40px;
padding: 10px 0 10px 10px;
}*/


.carouselContenido .icon-star,
.carouselContenido .icon-star-empty {
	color: #FBCC00;
}

.chatContenedor {
	cursor: pointer;
	position: fixed;
	right: 50px;
	bottom: 15px;
	z-index: 10;
}

.chatBtn {
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 40px;
	padding: 10px 80px 0 30px;
}

.chatBtn:hover {
	box-shadow: 2px 2px 5px #232323;
}

.chatBtn p {
	color: #0077E2;
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 8px;
}

.chatIcono {
	background: #0077E2;;
	border-radius: 40px;
	padding: 12px;
	position: absolute;
	right: -1px;
	top: -1px;
}

.busquedaEncabezado .form-control {
	height: 25px;
	padding: 2px 12px;
}

.busquedaEncabezado .filtros {
	margin: 15px 0;
}

.busquedaEncabezado .filtros .limpiar{
	display: inline-block;
	margin-left: 15px;
}

.busquedaEncabezado .filtros .titulo {
	display: inline-block;
	margin-right: 5px;
}

.busquedaEncabezado .etiquetaFiltro {
	background: #FFF;
	border: 1px solid #CCC;
	display: inline-block;
	margin-left: 10px;
	padding: 3px 30px 3px 8px;
	position: relative;
}

.busquedaEncabezado .material-icons {
	font-size: 16px;
	position: absolute;
	top: 7px;
	right: 5px;
}

/* FOOTER */
.piePagina .titulo {
	color:#1B2125;
	font-size: 18px;
	font-weight: 800;
	padding: 40px 0;
}

.piePagina a {
	color: #A4B3BD;
	font-size: 12px;
}
.piePagina .servicios {
	margin-top: 20px;
}

.piePagina .servicioContenedor {
	color: #1B2125;;
}

.piePagina .servicios img {
	margin-bottom: 10px;
}

.piePagina .redes img {
	margin-right: 25px;
}

.piePagina .redes img:hover {
	opacity: .3;
}

.piePagina .pago img {
	margin-right: 5px;
}

.piePagina .pago img:hover {
	opacity: .3;
}

.bg-copy {
	background: #02162A;
	color: #A4B3BD;
	padding: 15px 0;
}

.bg-copy p {
	font-size: 12px;
	margin-bottom: 0;
}

/* COMPONENTES GENERALES */
strong {
	color: #000;
	font-size: 1.2rem;
	font-weight: bold;
}

.seccion {
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.subtitulo {
	color: #9C9C9E;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.etiqueta {
	background: #1FCF1C; 
	background: -webkit-linear-gradient(300deg, transparent 0%, transparent, 15%, #1FCF1C 15%, #1FCF1C 100%);
	background: -o-linear-gradient(300deg, transparent 0%, transparent, 15%, #1FCF1C 15%, #1FCF1C 100%);
	background: -moz-linear-gradient(300deg, transparent 0%, transparent, 15%, #1FCF1C 15%, #1FCF1C 100%);
	background: linear-gradient(300deg, transparent 0%, transparent, 15%, #1FCF1C 15%, #1FCF1C 100%);
	width: 100%;
	padding: 20px;
	color: #FFF;
	padding: 2px 45px 2px 15px;
	font-size: 16px;
	position: relative;
}

.etiqueta.promocion {
	background: #1FCF1C;
	border-radius: 5px;
	padding: 5px 15px;
}

.etiqueta.nuevo {
	background: #0077E2;
	border-radius: 5px;
	font-size: .9rem;
	padding: 5px 8px;
	position: absolute;
	top: 7px;
	left: 15px;
	width: auto;
	
}

.iconoEnlace {
	display: inline-block !important;
	width: auto !important;

}

.btn-primary {
	background: #0077E2;
	border-color: #0077E2;
	font-weight: 800;
}

.btn-primary:hover {
	background: #004F96;
	border-color: #004F96;
}

.btn-lg {
	border-radius: 3px;
	padding: 5px 30px;
	font-size: 16px;
}

.btn-sesionRedes {
	color: #FFF;
	text-align: left;
	padding-left: 50px;
}

.btn-sesionRedes:hover {
	color: #FFF;
}

.btn-sesionRedes img {
	margin-right: 5px;
}

.btn-google {
	background: #f14436;
}

.btn-google:hover {
	background: #c23125;
}

.btn-facebook {
	background: #3a54a1;
}

.btn-facebook:hover {
	background: #102b7a;
}

.btn-twitter {
	background: #50abf1;
}

.btn-twitter:hover {
	background: #4c9ad7;
}

.listaSinBullet {
	list-style: none;
	padding-left: 0;
}

.listaSinBullet li {
	margin-bottom: 10px;
}

/* CARRUSEL */
.carouselContenedor {
	background: #FFF;
	height: 490px;
	margin: 0 5px 25px 5px;
	border-radius: 6px;
	border: solid 1px #CCC;
}

.carouselContenedor.productoAlt { 
 	height: 390px; 
} 

.carouselContenedor img {
	border-radius: 6px; 
	width: 100%;
	height: 200px;
}

.carouselContenido {
	border-top: solid 2px #CCC;
	padding: 10px 15px;
}

.carouselContendor img {
	border-radius: 3px;
}

.owl-prev {
    position: absolute;
    top: 30%;
    left: -0;
    display: block!IMPORTANT;
}

.owl-next {
    position: absolute;
    top: 30%;
    right: 0;
    display: block!IMPORTANT;
}

.owl-prev .fa-chevron-circle-left:hover, .owl-next .fa-chevron-circle-right:hover {
    color: #ccc;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev {
	color: #286090;
	left: 0;
}

.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next {
	color: #286090;
	right: 0;
}
/* UTILERIAS */
.bg-primario {
	background: white;
}

.bg-secundario {
	background: #E0F0FD; 
}

.bg-terciario {
	background: #021120;;
	color: #FFF;
}

.bg-gris {
	background: #F6F6F6;
}

.bloqueResaltado-secundario {
	background: #E8F1FF;
	border: 1px solid #DDE3E8;;
	border-radius: 3px;
	padding: 5px 25px;
}

.mt-25 {
	margin-top: 25px;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-2 {
	margin-bottom: 2em;
}

.pt-10 {
	padding-top: 10px;
}

.t-verde {
	color: #03AD00;
}

.t-rojo {
	color: #FF5B6F;
}

.t-ambar {
	color: #FFBF35;
}

.d-block {
	display: block !important;
}

.f-right {
	float: right;
}

.d-block {
	display: block;
}

.borderBottom {
	border-bottom: 1px solid #CCC;
}

/* Corrije el efecto cuando se despliega  */
.collapse {
	clear: both;
	overflow: hidden;
}

/* Estilos para crear 5 columnas iguales */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

/* Estilos de la página promoción del set02*/
.ruta_promocion, .validez_promocion{
	font-size:10px;
}
.azul{
	color:blue;
}
.tituloProductoPromocional {
	color: #000;
	font-size: 1.8rem;
	font-weight: bold;
}


/* estilos para starrating */
.imagensecundaria{
	padding-bottom: 5px;
}

.titulo_detalle, .titulo_calificacion, .titulo_estrellas{
	margin-top:12px;
	margin-bottom:12px;
	color: #a4a4a4;
}
.container-secundario{
	background-color: #ffffff !important;
}
.bg-secundario, .container-ruta {
	background: #E8F1FF;
	padding-top: 12px;
	padding-bottom: 12px;
}
.bg-secundario {
    background: #E8F1FF;
}
.descripcion_detalle {
	font-size:16px;
}

table.tabla_caracteristicas{
	width: 100%;
}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
td:nth-child(1){
	background-color: #F9F9FC;;
	width:150px;
}
.enlace-individual{
	display: inline-block;
	width:98%;
	cursor: pointer;
}
.link-box{
	width:75%;
	float:left;
}            
.angle-right{
	width:12%;
	float: right;
}
.line-right{                
	border-right:solid #E8EDFF 1px ;
}
.line-hr{                
	border-top:solid #E8EDFF 1px ;
	border-bottom:solid #E8EDFF 1px ;
	text-align:justify;
	padding-left: 16px;
	background-color: #ffffff;
}

.azul{
	color: #0080FF;

}

.detalle{
	padding-top:8px;
	padding-bottom:8px;
	font-size:12px;
	line-height: 12px;
}
.enlace-interes{
	text-decoration: none;
}

.titulo_calificacion{
	margin-bottom:10px;
}
.comentario_usuario{
	background-color: #F9F9FC;;
	font-size:16px;
	padding:10px;
	margin:12px;
}
.score-promedio {
	display: inline-block;
	/*font-size: 16px;*/
	position: relative;
	overflow: hidden;
	/*padding-left: 16px;*/
}

.score-wrap-promedio {
	padding-left: 4px;
	display: inline-block;
	position: relative;
	font-size:25px;
	height: 25px;
}

.score {
	display: inline-block;
	/*font-size: 16px;*/
	position: relative;
	overflow: hidden;
	padding-left: 4px;
	width:285px;
}

.score-wrap {
	padding-left: 4px;
	display: inline-block;
	position: relative;
	height: 19px;
   /* width:285px;*/
}

.stars-active {
	color: #EEBD01;
	position: relative;    
	z-index: 10;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.stars-inactive {
	padding-left: 4px;
	color: grey;
	position: absolute;
	top: 0;
	left: 0;
	/*-webkit-text-stroke: initial;*/
	white-space: nowrap;
	overflow: hidden;     
}
.cuadrado {
	width:120px;;
	height:14px;
	/*padding-top:25%;*/
	position:relative;
	border: solid;
	border-width: 1px;
	border-color: #a4a4a4;
	float:left;
	position: absolute;
	top: 0;
	left: 110px;
	/*-webkit-text-stroke: initial;*/
	margin-top:3px;
	white-space: nowrap;
	overflow: hidden;  
   /* background-color: #EEBD01;*/
}
.question-box{
	margin-bottom:15px;
	margin-top:15px;
}
.link-box, .angle-right{
	margin-bottom:15px;
	margin-top:15px;
}
.starnumber {
	width:15px;;
	height:16px;
	/*padding-top:25%;*/
	position:relative;
	float:left;
	position: absolute;
	top: 0;
	left: 235px;
	/*-webkit-text-stroke: initial;*/
	margin-top:1.5px;
	white-space: nowrap;
	overflow: hidden;  
   /* background-color: #EEBD01;*/
}
.btn-primary{
	margin-top:8px;
}
.user_score {
	display: inline-block;
	/*font-size: 16px;*/
	position: relative;
	height: 22px;
	font-size:16px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 4px;
}
.question-box{
	font-size:25px;
	line-height: 25px;
}
.fa-question-circle{
	font-size:32px;
}
.compatibilidad{
	display:inline-block;
	margin-top:12px;
	width:340px;
	border:solid rgb(191, 193, 202) 1px ;
	background-color:#E8EDFF ;
} 

/*estilos carrito compras*/

.procucto-de-carrito{
	padding-top:10px;
	padding-bottom:10px;	
	border-bottom:solid;
	border-bottom-color:#DDE3E8;
	border-bottom-width: 1px;
}
 .carrito-precio, .carrito-cantidad, .carrito-total{
	width:32%;
	display: inline-block;
}
.carrito-producto{
	width: 100%;
	display: inline-block;
	float:left;
	margin-bottom:12px;
}
.carrito-imagen-producto{
	width:85px;
	display: inline-block;
	float:left;
} 
.carrito-descripcion-producto{
	width:60%;
	float:left;
}
.titulo-producto-descripcion{
	font-size:16px;
	font-weight: 500;
}
.titulo-carrito{
	font-size:24px;
	font-weight: 900;
	padding-bottom:10px;
}
.total-prod{
	font-weight: 600;
}
.eliminar-producto{
	color: #0077E2;;
}

.eliminar-producto a:hover {
	color: #004F96;
}


 .total-a-pagar{
	background-color: #E8EDFF;
	padding:15px;
	text-align:left;
}
.recuadro-total-a-pagar{
	background-color: #ffffff;
	padding:15px;
	text-align: left;
}
.subtotal{
	font-size:18px;
	font-weight: 500px; 
}
.precio-final{
	font-size:24px;
	font-weight: 700px;                 
}
.metodos-de-pago{
	font-size:16px;   
	padding-top:10px;             
}
.compra-segura{
	padding-top:12px;
	padding-bottom:12px;
	color:green;
}
.compra-segura-2{
	padding-bottom:12px;             
}

/*Estilos checkout*/

.definir-domicilio{
	width:100%;
}
.titulo-domicilio{
	padding-top:20px;
	padding-bottom:12px;
	font-size: 20px;
	font-weight: 600;
}
.domicilio-definido{
	width: 45%;
	margin: 8px;
	border:solid;
	border-bottom-width: 1px;
	border-color:lightblue;                
	display: inline-block;
}
.envio-express, .envio-tradicional{
	width: 40%;
	margin: 8px;
	padding-bottom: 12px;
	height: 100px;;
	border:solid;
	border-bottom-width: 1px;
	border-color:lightblue;                
	display: inline-block;
	
}
.conoce-mas{
	font-size:20px;
	font-weight: 600;
	color:blue;
	padding-top:12px;
	padding-bottom:12px;
}

.texto-envio{
	margin: 8px;
	display: inline-block;
	width: 90px;
	float:left;
}
.texto-checkbox{
	margin: 8px;
	width: 120px;
	float:right;
}
.checkbox-envio{
	
	background-color:blue;
	width:25px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	color:white;
	float: right;
}
.plazo-envio{
	width:94%;
	padding-left:2%;
	padding-right:2%;
	color:darkgrey;
	float:left;
}
.logo-domicilio{
	width: 10%;
	font-size:25px;
	padding-left:6px;
	float:left;
}
.texto-domicilio{
	width: 80%;
	padding-left:6px;
	float:left;
}
.Checkbox-domicilio{
	float:left;
	margin-top:12px;
}

.calle {
	width:56%;
	float:left;
}
.exterior, .interior{
	width:20%;
	float:left;
	margin-left:1%;
}
.postal, .colonia, .estado, .ciudad{
	width:48%;
	float:left;
	margin-right:1%;
}
.entrecalles, .referencia{
	width:98%;
	float:left;
	margin-right:1%;
}
.paquete-a-pagar{
	text-align:left;
}
.titulo-paquete{
	font-size:20px;
	font-weight: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.origen-paquete{
	padding-bottom: 12px;
}
.precio-individual-preliminar{
	font-size:16px;
	font-weight: 600px;
}
.subtotales{
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	display:inline-block;
	float:left;
}
.subtotal1-text{
	width:40%;
	text-align: left;
	padding-left:20px;
	float:left;
	margin-bottom:10px;
}
.subtotal1{
	width:40%;
	padding-right:20px;
	text-align: right;
	float:right;
	margin-bottom:10px;
}
.subtotal2-text{
	width:40%;
	text-align: left;
	padding-left:20px;
	float:left;
	color:blue;
	margin-bottom:10px;
}
.total1-text{
	width:40%;
	text-align: left;
	padding-left:20px;
	float:left;
	font-size:18px;
	margin-bottom:10px;
}
.total1{
	width:50%;
	padding-right:20px;
	text-align: right;
	float:right;
	font-size:22px;
	margin-bottom:10px;
}


/**Estilos para el image thumbnail viewer**/
.col-viewer{
	width:50%;
	float:left;
}
.col-details{
	width:50%;
	float:left;
}
.viewer-container{
    width:100%; 
    display:inline-block; 
    padding:10px;
    }
.vertical-thumbnail{
    width:20%; 
    float:left
}
.horizontal-thumbnail{
    width:95%; 
    display:inline-block; 
    padding:10px;
}
.v-thumb-container{
    width: 100%;
    float:left;
    padding:5px;
}
.h-thumb-container{
    width: 30%;
    float:left;
    padding:5px;
}
.principal-viewer{
	float:left;
	width:76%;
	margin-left:15px;
} 
.preview {
width:100%;
}

.thumb {
width:98%;
margin-left:1%;
}
.normal {
/*border:3px solid #000000;*/
border:none;
}

.selected {
/*border:3px solid #00ff00;*/
border:none;
}

.vertical-thumbnail{
	display:none
}
/*Terminan estilios de thumbnail viewer*/


/*
.img-prin-prom{
	vertical-align:middle;
	display:table-cell;	
	margin:auto;
}
*/
/*Terminan estilos de la página de promoción set02*/
@media (min-width: 1200px) {
	.img-prin-prom{
		    max-height:100%;			
			min-height:100%;
			margin-top:20px;			
		}
	.col-lg-15 {
		width: 20%;
		float: left;
	}	
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
	}
	
	.vertical-thumbnail{
		display:inline-block;
	}
	.horizontal-thumbnail{
		display: none;
	}

}
@media (max-width: 992px) {
.principal-viewer{
	width:98%;		
} 
.subtotales{
	margin-left: 0px;
	margin-right: 0px;	
}	
.total-a-pagar{
	margin-left: 15px;
	margin-right: 0px;	
}	
} 

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
	}

}


/* Media Querys */
/* Tableta */
@media (max-width: 768px) {
	.utilerias .enlaces {
	  display: none;
	}

	.butonMenu {
		display: inline-block;
	}

	.navbar-toggle {
		display: inline-block;
	}

	.busquedaInput {
		padding: 5PX;
	}

	.iconoBusqueda {
		padding: 0;
	}
}

@media (max-width: 630px) {
.principal-viewer{
	width:98%;
	margin-left:5px;
} 
.col-viewer{
	width:100%;
	float:left;
}
.col-details{
	width:100%;
	float:left;
	margin-left:5%;
}

}
div#slider-principal{
	background: #E8F1FF;
}
/* Celular */ 
.filterPage .titulo-carrito{ 
	margin-bottom: 20px; 
 } 
 .menulist{ 
   list-style: none; 
   padding:0; 
   border:1px solid #e4e4e4; 
   background-color: #f2faff; 
 } 
 .menulist li a{ 
   padding: 10px 0px; 
	 display: block; 
	 text-decoration: none; 
	 border-left: 4px solid transparent; 
	 padding-left:12px; 
	 color:#636363; 
	 transition: all .4s ease; 
 } 
 .menulist li a.active{ 
   border-left: 4px solid #3683e2; 
	 color: #3683e2; 
 } 
 .menulist li a:hover{ 
	 border-left: 4px solid #3683e2; 
	 color: #3683e2; 
 } 
 .cotent_filter .inftop{ 
   display: block; 
   position: relative; 
 } 
 .cotent_filter .inftop h2{ 
  font-size: 18px; 
  margin:0; 
  font-weight: bold; 
 } 
 .cotent_filter .inftop a{ 
   position: absolute; 
   right: 0; 
   top: 0; 
   font-weight: bold; 
   font-size: 15px; 
 } 
 .cotent_filter .formArea{ 
   padding-top: 27px; 
 } 
 .cotent_filter .formArea label{ 
   text-transform: uppercase; 
   color:#a5a5a5; 
   font-weight: normal; 
 } 
 .formArea .btn-primary{ 
   margin-top: 0; 
   text-transform: uppercase; 
   height: 40px; 
 } 
 .formArea .form-control{ 
   height: 40px; 
 } 
 .formArea .search{ 
   display: block; 
   padding-top: 10px; 
 } 
 .formArea .filterBox{ 
   padding-bottom: 26px; 
  
 } 
 .btnFilterx{ 
   display: block; 
   position: relative; 
   text-align: right; 
   font-size: 13px; 
   margin-top: 3px; 
   background-color: transparent; 
   color: #0077E2; 
   border:0; 
   cursor: pointer; 
   float: right; 
   margin-bottom: 25px; 
   top: -22px; 
 } 
 .BoxInvoices{ 
   display: block; 
   background-color: #f2faff; 
   padding:20px; 
   border: 1px solid #efecec; 
   margin-bottom: 50px; 
 } 
 .BoxInvoices .date{ 
   font-size: 12px; 
 } 
 .BoxInvoices .title{ 
   display: block; 
	 position: relative; 
	 font-size: 17px; 
	 font-weight: bold; 
	 margin-bottom: 0; 
 } 
 .topbread{ 
   display: block; 
	 padding-top: 11px; 
	 border-top: 1px solid #e2e2e2; 
	 padding-bottom: 32px; 
 } 
 .topbread ul{ 
   display: flex; 
   list-style: none; 
   padding-left: 15px; 
 } 
 .topbread li{ 
   margin-right: 10px; 
 } 
 .BoxInvoices .smallText{ 
  font-size: 13px; 
  margin:0; 
  color: #929292; 
  padding-bottom: 7px; 
 } 
 .BoxInvoices .title span{ 
   position: absolute; 
	 right: 0; 
	 top: 0; 
 } 
 .BoxInvoices .selectItem{ 
 display: block; 
 margin-top: 20px; 
 color:#333; 
 font-size: 12px; 
 } 
 /**** modal ***/ 
 .modal-wrap, 
 .modal-overlay { 
   left: 0; 
   top: 0; 
   width: 100%; 
   height: 100%; 
 } 
  
 .modal-wrap { 
   opacity: 0; 
   visibility: hidden; 
   transition: all 0.3s ease-in-out; 
   z-index: 9999; 
 } 
 .modal-wrap .modal-overlay { 
   position: fixed; 
   z-index: 1; 
   background-color: rgba(0, 0, 0, 0.37); 
 } 
 @media (max-width: 767px) { 
   .modal-wrap { 
	 position: absolute; 
   } 
 } 
 @media (min-width: 768px) { 
   .modal-wrap { 
	 position: fixed; 
   } 
 } 
 .modal-wrap .modal-content { 
   background-color: #fff; 
   padding: 20px; 
   width: 90%; 
   max-width: 480px; 
   margin: auto; 
   position: relative; 
   z-index: 12; 
   top: 50%; 
   left: 0; 
   transform: translateY(-50%) scale(0.8); 
   transition: all 0.3s ease-in-out; 
   max-height: 90vh; 
   overflow: auto; 
 } 
 .modal-wrap .modal-close { 
   position: absolute; 
   right: 0; 
   top: 0; 
   padding: 12px; 
   cursor: pointer; 
   background-color: #ccc; 
 } 
 .modal-wrap.modal-opened { 
   opacity: 1; 
   visibility: visible; 
 } 
 .modal-wrap.modal-opened .modal-content { 
   transform: translateY(-50%) scale(1); 
 } 
 .modal-content .itemsOrders{ 
   list-style: none; 
   padding: 0; 
   margin:0; 
 } 
 .modal-content h2,h3{ 
   font-weight: bold; 
 } 
 .modal-content h2{ 
   font-size: 20px; 
 } 
 .modal-content h3{ 
   font-size: 15px; 
   padding-bottom: 3px; 
 } 
 .modal-content .itemsOrders li{ 
   display: flex; 
   border: 1px solid #e6e2e2; 
	 padding: 7px; 
	 background-color: #f0fff5; 
	 margin-bottom: 7px; 
 } 
 .modal-content .itemsOrders li .cheks{ 
   width: 23px; 
 } 
 .modal-content .itemsOrders li .info{ 
   width: 100%; 
 } 
 .modal-content .itemsOrders li h2{ 
   position: relative; 
   font-size: 14px; 
   margin: 0; 
 } 
 .modal-content .itemsOrders li h2 span{ 
   position: absolute; 
   top: 0; 
   right: 0; 
 } 
 .modal-content .itemsOrders li p{ 
  color:#969595; 
  font-size: 14px; 
 } 


/* Helpers */
.pt-0 {
	padding-top: 0 !important;
}

/* Estilos de acuerdo al manual */
.botn {
	/*font-family: Muli-ExtraBold;*/
	font-family: 'Muli', sans-serif;
	font-weight: 800;
	font-size: 16px;
	width: 100%;
}

/* Botón principal */
.botn-principal {
	color: #FFFFFF;
	background: #0077E2;
	border-radius: 3px;
	height: 54px;
	padding: 0 30px;
}

.botn-principal:hover {
	background: #004F96
}

.botn-secundario {
	color: #0077E2;
	background: #FFFFFF;
	border: 1px solid #0077E2;
	border-radius: 3px;
	height: 54px;
	padding: 0 30px;
}

.botn-secundario:hover {
	background: #E8F1FF;
}

.botn-comprar {
	color: #FFFFFF;
	background: #0077E2;
	border-radius: 3px;
	height: 40px;
	padding: 0 20px;
}

.botn-comprar:hover {
	background: #004F96
}

.icono-botn-comprar {
	font-size:20px; 
	color:#ffffff;
}

.titulo-producto {
	/*nombre*/
	/*font-family: Muli-Black;*/
	font-family: 'Muli', sans-serif;
	font-weight: 900;
	font-size: 26px;
	color: #1B2125;
}

/* Garantía de producto */
.garantia-producto {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

/* Campo dropdown */
.form-select {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #788995;
	background: #FFFFFF;
	border: 1px solid #DDE3E8;
	border-radius: 3px;
	padding: 0 20px;
	margin-bottom: 12px;
	height: 54px;
}

/* Marca */
.marca-producto {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #788995;
}

/*reseña */
.resena-producto {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #788995;
}

/*precio */
.titulo-precio {
	/*font-family: Muli-ExtraBold;*/
	font-family: 'Muli', sans-serif;
	font-weight: 800;
	font-size: 26px;
	color: #1B2125;
	letter-spacing: 0;
}

/*agregar a mi lista*/
.liga_agregar {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #A4B3BD;
	text-align: center;
	padding: 20px 0;
}

/* El recuadro verde de disponible */
.info-verde {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #DBFEDE;
}

/* El ancho de la caja del elemento del carousel */
.item-producto-carousel {
	width: 240px; 
	margin-right: 10px;
}

/* el estilo para el contenedor del top-menu*/
.contenedor-topMenu {
	font-size: 12px;
	background: #F8FAFB;
	height: 36px;
}

/* Icono: */
/*font-family: material;
font-size: 24px;
color: #0077E2;*/

/* Hover: */

/* Enlace de texto */
.enlace-texto {
	/*font-family: Muli-Regular;*/
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #0077E2;
}
/* Hover: */
.enlace-texto:hover {
	color: #004F96;
	text-decoration: underline;
}